_public/app/views/directives/search-dropdown.jade
.dm-dropdown-container
    input.dm-width-1-1.uk-form-large(type="text" ng-click="showDialogBox()",ng-model="filterItem.name")
    .dm-dropdown-window(ng-show="showDialog")
        ul
            li(ng-repeat="item in selection | filter:filterItem")
                a(ng-click="setSelected(item)") {{item.name}}

public/app/views/directives/search-dropdown.html
<div class="dm-dropdown-container"><input type="text" ng-click="showDialogBox()" ng-model="filterItem.name" class="dm-width-1-1 uk-form-large"/><div ng-show="showDialog" class="dm-dropdown-window"><ul><li ng-repeat="item in selection | filter:filterItem"><a ng-click="setSelected(item)">{{item.name}}</a></li></ul></div></div>
