public/app/views/directives/toggle.html
<div class="dm-toggle"><div class="title">{{name}}</div><div class="toggle"><div ng-class="{active:toggle}" class="toggle-on"><p ng-click="setToggle()">ON</p></div><div ng-class="{active:!toggle}" class="toggle-off"><p ng-click="setToggle()">OFF</p></div></div></div>

_public/app/views/directives/toggle.jade
.dm-toggle
    .title.
        {{name}}
    .toggle
        .toggle-on(ng-class="{active:toggle}")
            p(ng-click="setToggle()") ON
        .toggle-off(ng-class="{active:!toggle}")
            p(ng-click="setToggle()") OFF
