_public/app/views/feedback.jade
link(rel="stylesheet",href="assets/css/vendor/trumbowyg.min.css")
#content: .uk-grid
    .uk-width-medium-8-10.uk-width-small-9-10.uk-container-center: .uk-grid

        #feedback-controls.uk-width-medium-2-6.uk-width-small-9-10: .dm-grid
            .uk-width-1-1
                panel
                    panel-header
                        p.uk-text-large User Information
                    panel-body
                        .user-info
                            .profile-pic.uk-margin-right
                                img(src="http://placehold.it/70x70").uk-thumbnail
                            .profile-info
                                a: h3 Jay Paul Eugenio
                                .feedback
                                    .positive.uk-margin-right.
                                        #[i.uk-icon.uk-icon-thumbs-up] 999
                                    .negative.
                                        #[i.uk-icon.uk-icon-thumbs-down] 999
                        .user-controls.uk-margin-top.uk-margin-bottom
                            .uk-alert.uk-alert-warning: p.
                                #[i.uk-icon.uk-icon-exclamation-triangle] You need to be logged in order
                                to provide feedback
                            button.uk-button.uk-width-1-1.uk-margin-top.
                                #[i.uk-icon.uk-icon-flag] Report User
                            button.uk-button.dm-button-facebook.uk-width-1-1.uk-margin-top.
                                #[i.uk-icon.uk-icon-facebook-square] Login To Facebook
            .uk-width-1-1.uk-margin-top
                panel
                    panel-header
                        p.uk-text-large Feedback Controls
                    panel-body
                        ul.uk-list.uk-margin-remove
                            li: a Write Feedback
                            li: a Show All Feedback
                            li: a Show Negatives
                            li: a Show Positives

        #feedback-loop.uk-width-medium-4-6.uk-width-small-9-10: .uk-flex.uk-flex-column
            //Editor Box
            .uk-width-1-1
                .uk-alert.dm-alert-info
                    p.
                        #[i.uk-icon.uk-icon-exclamation-triangle]
                        It appears that you already have a feedback.
                        We only allow one feedback per seller/user.
                        If you have changed your opinion, kindly edit your current one.
                .uk-alert.dm-alert-primary
                    p.
                        #[i.uk-icon.uk-icon-exclamation-triangle]
                        Negative Feedbacks are required to have a statement not longer than 300 characters.
                        This is to give justification and prevent spaming and black propaganda against the user
                .uk-button-group
                    button.uk-button #[i.uk-icon.uk-icon-thumbs-up] Thumbs Up
                    button.uk-button #[i.uk-icon.uk-icon-thumbs-down] Thumbs Down
                    button.uk-button.uk-button-danger #[i.uk-icon.uk-icon-trash-o] Delete
                textarea(wysiwig)
                .uk-width-1-1.uk-text-right
                    p You need X characters before you can sumbit this feedback
                    button.uk-button.uk-button-large.uk-button-primary Submit
                .uk-width-1-1.uk-text-center
                    button.uk-button.uk-button-large Show Editor
                .uk-width-1-1.uk-margin-top
                    feedback
                    feedback
                    feedback
                    feedback

public/app/views/feedback.html
<link rel="stylesheet" href="assets/css/vendor/trumbowyg.min.css"/><div id="content"><div class="uk-grid"><div class="uk-width-medium-8-10 uk-width-small-9-10 uk-container-center"><div class="uk-grid"><div id="feedback-controls" class="uk-width-medium-2-6 uk-width-small-9-10"><div class="dm-grid"><div class="uk-width-1-1"><panel><panel-header><p class="uk-text-large">User Information</p></panel-header><panel-body><div class="user-info"><div class="profile-pic uk-margin-right"><img src="http://placehold.it/70x70" class="uk-thumbnail"/></div><div class="profile-info"><a><h3>Jay Paul Eugenio</h3></a><div class="feedback"><div class="positive uk-margin-right"><i class="uk-icon uk-icon-thumbs-up"></i> 999</div><div class="negative"><i class="uk-icon uk-icon-thumbs-down"></i> 999</div></div></div></div><div class="user-controls uk-margin-top uk-margin-bottom"><div class="uk-alert uk-alert-warning"><p><i class="uk-icon uk-icon-exclamation-triangle"></i> You need to be logged in order
to provide feedback</p></div><button class="uk-button uk-width-1-1 uk-margin-top"><i class="uk-icon uk-icon-flag"></i> Report User</button><button class="uk-button dm-button-facebook uk-width-1-1 uk-margin-top"><i class="uk-icon uk-icon-facebook-square"></i> Login To Facebook</button></div></panel-body></panel></div><div class="uk-width-1-1 uk-margin-top"><panel><panel-header><p class="uk-text-large">Feedback Controls</p></panel-header><panel-body><ul class="uk-list uk-margin-remove"><li><a>Write Feedback</a></li><li><a>Show All Feedback</a></li><li><a>Show Negatives</a></li><li><a>Show Positives</a></li></ul></panel-body></panel></div></div></div><div id="feedback-loop" class="uk-width-medium-4-6 uk-width-small-9-10"><div class="uk-flex uk-flex-column"><!--Editor Box--><div class="uk-width-1-1"><div class="uk-alert dm-alert-info"><p><i class="uk-icon uk-icon-exclamation-triangle"></i>
It appears that you already have a feedback.
We only allow one feedback per seller/user.
If you have changed your opinion, kindly edit your current one.</p></div><div class="uk-alert dm-alert-primary"><p><i class="uk-icon uk-icon-exclamation-triangle"></i>
Negative Feedbacks are required to have a statement not longer than 300 characters.
This is to give justification and prevent spaming and black propaganda against the user</p></div><div class="uk-button-group"><button class="uk-button"><i class="uk-icon uk-icon-thumbs-up"></i> Thumbs Up</button><button class="uk-button"><i class="uk-icon uk-icon-thumbs-down"></i> Thumbs Down</button><button class="uk-button uk-button-danger"><i class="uk-icon uk-icon-trash-o"></i> Delete</button></div><textarea wysiwig="wysiwig"></textarea><div class="uk-width-1-1 uk-text-right"><p>You need X characters before you can sumbit this feedback</p><button class="uk-button uk-button-large uk-button-primary">Submit</button></div><div class="uk-width-1-1 uk-text-center"><button class="uk-button uk-button-large">Show Editor</button></div><div class="uk-width-1-1 uk-margin-top"><feedback></feedback><feedback></feedback><feedback></feedback><feedback></feedback></div></div></div></div></div></div></div></div>
