public/app/views/message.html
<link rel="stylesheet" href="assets/css/vendor/trumbowyg.min.css"/><div id="content"><div class="uk-grid"><div class="uk-width-medium-8-10 uk-width-small-9-10 uk-container-center"><div class="uk-grid"><!-- Main Content--><div class="uk-width-1-1"><button class="uk-button">Inbox</button><button class="uk-button">Sent</button><button class="uk-button">Archive</button><button class="uk-button">Compose</button><hr/></div><!-- Inbox--><div class="uk-width-1-1 uk-margin-top uk-hidden"><h2>Inbox</h2><mailbag></mailbag></div><!-- Sent--><div class="uk-width-1-1 uk-margin-top uk-hidden"><h2>Sent</h2><mailbag></mailbag></div><!-- Archive--><div class="uk-width-1-1 uk-margin-top uk-hidden"><h2>Archive</h2><mailbag></mailbag></div><div class="uk-width-1-1 uk-margin-top"><h2>Compose</h2><form class="uk-form"><fieldset><div class="uk-form-row"><div class="uk-form-icon uk-width-8-10"><i class="uk-icon uk-icon-at"></i><input type="text" placeholder="Type Item ID or Mobile Number (09XXXXXXX) to Contact User" class="uk-width-1-1 uk-form-large"/></div><button class="uk-button uk-margin-left">A</button></div><div class="uk-form-row"><div class="uk-panel uk-panel-box uk-panel-primary"><ul class="uk-list"><li class="uk-text-bold">[ITEM] Blah Blah Blah ( <a>Browse Item</a> | <a>Contact</a> )</li><li class="uk-text-bold">[USER] Blah Blah Blah ( <a>Contact</a> )</li></ul></div></div><div class="uk-form-row"><label class="uk-form-label uk-text-bold">To:</label><div class="uk-form-controller"><p><button class="uk-button uk-button-primary">User Name [X]</button></p></div></div><div class="uk-form-row uk-margin-remove"><textarea wysiwig="wysiwig"></textarea></div><div class="uk-form-row uk-text-center"><button class="uk-button-large uk-button uk-button-primary">Send</button><hr/></div><div class="uk-form-row"><h3>Conversations</h3><private-message></private-message></div></fieldset></form></div></div></div></div></div>

_public/app/views/message.jade
link(rel="stylesheet",href="assets/css/vendor/trumbowyg.min.css")
#content: .uk-grid
    .uk-width-medium-8-10.uk-width-small-9-10.uk-container-center: .uk-grid
        // Main Content
        .uk-width-1-1
            button.uk-button Inbox
            button.uk-button Sent
            button.uk-button Archive
            button.uk-button Compose
            hr
        // Inbox
        .uk-width-1-1.uk-margin-top.uk-hidden
            h2 Inbox
            mailbag
        // Sent
        .uk-width-1-1.uk-margin-top.uk-hidden
            h2 Sent
            mailbag
        // Archive
        .uk-width-1-1.uk-margin-top.uk-hidden
            h2 Archive
            mailbag
        .uk-width-1-1.uk-margin-top
            h2 Compose
            form.uk-form: fieldset
                .uk-form-row
                    .uk-form-icon.uk-width-8-10
                        i.uk-icon.uk-icon-at
                        input.uk-width-1-1.uk-form-large(type="text",
                            placeholder="Type Item ID or Mobile Number (09XXXXXXX) to Contact User")
                    button.uk-button.uk-margin-left A
                .uk-form-row
                    .uk-panel.uk-panel-box.uk-panel-primary
                        ul.uk-list
                            li.uk-text-bold [ITEM] Blah Blah Blah ( #[a Browse Item] | #[a Contact] )
                            li.uk-text-bold [USER] Blah Blah Blah ( #[a Contact] )
                .uk-form-row
                    label.uk-form-label.uk-text-bold To:
                    .uk-form-controller
                        p: button.uk-button.uk-button-primary User Name [X]
                .uk-form-row.uk-margin-remove
                    textarea(wysiwig)
                .uk-form-row.uk-text-center
                    button.uk-button-large.uk-button.uk-button-primary Send
                    hr
                .uk-form-row
                    h3 Conversations
                    private-message
