public/app/views/splash.html
<div id="cover-container"></div><div id="info-container"><div id="header"><h1>Deremoe Market</h1><small>ver 0.1a</small><div class="menu"><p>Buy, Advertise, Assest, Sell and Consult</p></div><div class="buttons"><a href="/#/auth/" class="uk-button uk-button-large dm-button dm-button-primary">Sell / Advertise</a><a href="/#/browse/" class="uk-button uk-button-large dm-button dm-button-primary">Browse</a></div></div></div>

_public/app/views/splash.jade
#cover-container
#info-container
    #header
        h1 Deremoe Market
        small ver 0.1a
        .menu
            p Buy, Advertise, Assest, Sell and Consult
        .buttons
            a(class="uk-button uk-button-large dm-button dm-button-primary",href="/#/auth/") Sell / Advertise
            a(class="uk-button uk-button-large dm-button dm-button-primary",href="/#/browse/") Browse
