public/app/views/admin/user.html
<div id="content"><div class="uk-grid"><div class="uk-width-medium-9-10 uk-width-small-9-10 uk-container-center"><h1>User Administration</h1><div class="uk-width-1-1"><form class="uk-form"><fieldset data-uk-margin="data-uk-margin"><input type="text" placeholder="Search User By Name"/><select><option>--- Selection ---</option></select><button class="uk-button uk-button-primary"><i class="uk-icon uk-icon-filter"></i> Filter</button></fieldset></form></div><div class="uk-width-1-1 uk-margin-top"><table class="uk-table uk-table-striped"><thead><tr><th>Name</th><th>Email</th><th>Role</th><th>Actions</th></tr></thead><tbody><tr><td>Jay Paul Agonoy</td><td>jay@agonoy.com</td><td><select><option>Admin</option></select></td><td><div class="button-group"><button class="uk-button uk-button-danger"><i class="uk-icon uk-icon-trash"></i></button></div></td></tr></tbody></table></div></div></div></div>

_public/app/views/admin/user.jade
#content: .uk-grid
    .uk-width-medium-9-10.uk-width-small-9-10.uk-container-center
        h1 User Administration
        .uk-width-1-1
            form.uk-form: fieldset(data-uk-margin)
                input(type="text" placeholder="Search User By Name")
                select
                    option --- Selection ---
                button.uk-button.uk-button-primary.
                    #[i.uk-icon.uk-icon-filter] Filter
        .uk-width-1-1.uk-margin-top
            table.uk-table.uk-table-striped
                thead
                    tr
                        th Name
                        th Email
                        th Role
                        th Actions
                tbody
                    tr
                        td Jay Paul Agonoy
                        td jay@agonoy.com
                        td
                            select
                                option Admin
                        td
                            .button-group
                                button.uk-button.uk-button-danger #[i.uk-icon.uk-icon-trash]
