public/app/views/admin/user.profile.html
<div id="content"><div class="uk-grid"><div class="uk-width-medium-8-10 uk-width-small-9-10 uk-container-center"><div class="uk-grid"><!--Main Content--><div class="uk-width-medium-8-10 uk-with-small-1-1"><panel><panel-header><p class="uk-text-large"><i class="uk-icon uk-icon-user"></i> User Profile</p></panel-header><panel-body><div class="uk-alert dm-alert-info"><i class="uk-icon uk-icon-exclamation-triangle"></i> User information is tied to your Facebook account. The only you can
change is your mobile number.</div><div class="uk-alert dm-alert-success"><i class="uk-icon uk-icon-thumbs-up"></i> User Profile Changed</div><form class="uk-form"><fieldset><div class="uk-form-row"><legend class="uk-form-legend">Name</legend><div class="uk-form-controls"><input type="text" readonly="readonly" class="uk-form-large uk-width-1-1"/></div></div><div class="uk-form-row"><legend class="uk-form-legend">Email</legend><div class="uk-form-controls"><input type="text" readonly="readonly" class="uk-form-large uk-width-1-1"/></div></div><div class="uk-form-row"><legend class="uk-form-legend">Facebook Id</legend><div class="uk-form-controls"><input type="text" readonly="readonly" class="uk-form-large uk-width-1-1"/></div></div><div class="uk-form-row"><div class="uk-panel uk-panel-box uk-panel-primary"><legend class="uk-form-legend">Mobile Number</legend><div class="uk-form-controls"><input type="text" class="uk-form-large uk-width-1-1"/></div></div></div><div class="uk-form-row uk-text-center"><button type="submit" class="uk-button uk-button-large uk-button-primary">Change Profile</button></div></fieldset></form></panel-body></panel></div><div class="uk-width-medium-2-10 uk-width-small-1-1"><panel><panel-header><p class="uk-text-large"><i class="uk-icon uk-icon-lock"></i> User Controls</p></panel-header><panel-body><div class="uk-text-center"><img src="http://placehold.it/100x100" class="uk-thumbnail"/></div><div class="uk-width-1-1 uk-margin-top uk-text-center"><button class="uk-button uk-button-large uk-button-danger"><i class="uk-icon uk-icon-trash"></i> Delete Account</button></div></panel-body></panel></div></div></div></div></div>

_public/app/views/admin/user.profile.jade
#content: .uk-grid
    .uk-width-medium-8-10.uk-width-small-9-10.uk-container-center
        .uk-grid
            //Main Content
            .uk-width-medium-8-10.uk-with-small-1-1
                panel
                    panel-header
                        p.uk-text-large #[i.uk-icon.uk-icon-user] User Profile
                    panel-body
                        .uk-alert.dm-alert-info.
                            #[i.uk-icon.uk-icon-exclamation-triangle] User information is tied to your Facebook account. The only you can
                            change is your mobile number.
                        .uk-alert.dm-alert-success.
                            #[i.uk-icon.uk-icon-thumbs-up] User Profile Changed
                        form.uk-form
                            fieldset
                                .uk-form-row
                                    legend.uk-form-legend Name
                                    .uk-form-controls
                                        input.uk-form-large.uk-width-1-1(type="text",readonly)
                                .uk-form-row
                                    legend.uk-form-legend Email
                                    .uk-form-controls
                                        input.uk-form-large.uk-width-1-1(type="text",readonly)
                                .uk-form-row
                                    legend.uk-form-legend Facebook Id
                                    .uk-form-controls
                                        input.uk-form-large.uk-width-1-1(type="text",readonly)
                                .uk-form-row
                                    .uk-panel.uk-panel-box.uk-panel-primary
                                        legend.uk-form-legend Mobile Number
                                        .uk-form-controls
                                            input.uk-form-large.uk-width-1-1(type="text")
                                .uk-form-row.uk-text-center
                                    button.uk-button.uk-button-large.uk-button-primary(type="submit") Change Profile
            .uk-width-medium-2-10.uk-width-small-1-1
                panel
                    panel-header
                        p.uk-text-large #[i.uk-icon.uk-icon-lock] User Controls
                    panel-body
                        .uk-text-center
                            img.uk-thumbnail(src="http://placehold.it/100x100")
                        .uk-width-1-1.uk-margin-top.uk-text-center
                            button.uk-button.uk-button-large.uk-button-danger #[i.uk-icon.uk-icon-trash] Delete Account
