public/app/views/directives/market/item.html
<div class="uk-width-medium-1-2 uk-width-small-1-1 dm-item-small uk-margin-bottom"><a><div class="item-picture"></div><div class="item-information"><h3 clamp-text="clamp-text" line="2">This is an item that is related to the item being displayed</h3><p class="price">₱ 9999</p><p class="uk-text-small location"><i class="uk-icon uk-icon-map-marker"></i> Cainta, Rizal</p></div></a></div>

_public/app/views/directives/market/item.jade
.uk-width-medium-1-2.uk-width-small-1-1.dm-item-small.uk-margin-bottom: a
    .item-picture
    .item-information
        h3(clamp-text,line="2") This is an item that is related to the item being displayed
        p.price ₱ 9999
        p.uk-text-small.location.
            #[i.uk-icon.uk-icon-map-marker] Cainta, Rizal
