_public/app/views/directives/market/mailbag.jade
table.dm-messagebox.uk-table.uk-table-hover
    tbody
        tr: td.uk-width-medium-3-10.uk-width-small-1-1 Name of the user
            td.uk-width-medium-6-10.uk-width-small-1-1 Subject
            td.uk-width-medium-1-10.uk-width-small-1-1 Date
        tr.active: td.uk-width-medium-3-10.uk-width-small-1-1 Name of the user
            td.uk-width-medium-6-10.uk-width-small-1-1 Subject
            td.uk-width-medium-1-10.uk-width-small-1-1 Date

public/app/views/directives/market/mailbag.html
<table class="dm-messagebox uk-table uk-table-hover"><tbody><tr><td class="uk-width-medium-3-10 uk-width-small-1-1">Name of the user<td class="uk-width-medium-6-10 uk-width-small-1-1">Subject</td><td class="uk-width-medium-1-10 uk-width-small-1-1">Date</td></td></tr><tr class="active"><td class="uk-width-medium-3-10 uk-width-small-1-1">Name of the user<td class="uk-width-medium-6-10 uk-width-small-1-1">Subject</td><td class="uk-width-medium-1-10 uk-width-small-1-1">Date</td></td></tr></tbody></table>
