public/app/views/directives/market/message.box.html
<div class="dm-message uk-width-8-10 dm-grid uk-margin-bottom"><div class="profile-info uk-width-medium-1-4 uk-width-small-1-1"><div class="uk-text-center"><img src="http://placehold.it/70x70" class="uk-thumbnail uk-margin-top"/><p class="uk-margin-remove">Jay Paul Eugenio</p><small>Joined: 2015-09-16</small></div></div><div class="message-content uk-width-medium-3-4 uk-width-small-1-1"><header><div class="uk-grid"><div class="uk-width-1-1"><h3 class="uk-margin-remove">Message Subject</h3></div></div></header><div class="uk-margin-top"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
in culpa qui officia deserunt mollit anim id est laborum.</p></div><footer><div class="uk-grid"><div class="uk-width-1-1 uk-text-right"><button class="uk-button uk-button-primary uk-width-1-4"><i class="uk-icon uk-icon-reply"></i> Reply</button></div></div></footer></div></div>

_public/app/views/directives/market/message.box.jade
.dm-message.uk-width-8-10.dm-grid.uk-margin-bottom
    .profile-info.uk-width-medium-1-4.uk-width-small-1-1
        .uk-text-center
            img(src="http://placehold.it/70x70").uk-thumbnail.uk-margin-top
            p.uk-margin-remove Jay Paul Eugenio
            small Joined: 2015-09-16
    .message-content.uk-width-medium-3-4.uk-width-small-1-1
        header: .uk-grid
            .uk-width-1-1
                h3.uk-margin-remove Message Subject
        .uk-margin-top
            p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.
        footer: .uk-grid
            .uk-width-1-1.uk-text-right
                button.uk-button.uk-button-primary.uk-width-1-4.
                    #[i.uk-icon.uk-icon-reply] Reply
