_public/app/views/directives/market/search.jade
div
    .uk-grid.uk-margin-bottom: .uk-width-medium-6-10.uk-width-large-9-10.uk-container-center
        .uk-text-center.uk-margin-bottom
            button.uk-button.uk-visible-small(ng-click="toggleSearchBar()") Show Search Filter
        form.uk-form.uk-text-center(ng-show="searchBarToggle")
            //Select Region
            select.uk-width-medium-1-6(ng-model="selectedRegion",
                                       ng-options="value.name for value in region")
                option(value="") All
            select.uk-margin-left.uk-width-medium-1-6.uk-hidden-small(ng-model="selectedRegion",
                                                      ng-options="value.name for value in region")
            select.uk-width-medium-1-6.uk-visible-small(ng-model="selectedRegion",
                                                        ng-options="value.name for value in region")
                option(value="") All

            //Price
            .uk-form-icon.uk-margin-left.uk-hidden-small #[i.uk-icon-rub]
                input(type="text",placeholder="Price")
            .uk-form-icon.uk-visible-small #[i.uk-icon-rub]
                input(type="text",placeholder="Price")
            select.uk-visible-small
                option(value="less") Less Than Equal
                option(value="more") More Than Equal
            select.uk-hidden-small
                option(value="less") Less Than Equal
                option(value="more") More Than Equal

            //Category
            select.uk-width-medium-1-6.uk-margin-left.uk-hidden-small
                option(value="") All Categories
            select.uk-width-medium-1-6.uk-visible-small
                option(value="") All Categories

            button(data-uk-modal="{target:'#dm-searchbar-filter'}").uk-button.uk-button-primary.uk-margin-left.
                #[i.uk-icon.uk-icon-filter]
            button.uk-margin-left.uk-button.uk-button-success #[i.uk-icon.uk-icon-refresh]
            button(data-uk-modal="{target:'#dm-searchbar-clear'}").uk-button.uk-margin-left.
                #[i.uk-icon.uk-icon-remove]
    //Modals
    #dm-searchbar-filter.uk-modal: .uk-modal-dialog #[a.uk-modal-close.uk-close]
        .uk-modal-header
            h1 #[i.uk-icon.uk-icon-filter] Search Filter
        div
            h2 Attributes
            .dm-grid
                toggle(name="Used",
                       toggle="attIsUsed").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1.uk-margin-left.uk-margin-bottom
                toggle(name="Shipping",
                       toggle="attShip").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1.uk-margin-left.uk-margin-bottom
                toggle(name="Meetup",
                       toggle="attMeet").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1.uk-margin-left.uk-margin-bottom
                toggle(name="Negotiable",
                       toggle="isNeg").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1.uk-margin-left.uk-margin-bottom
                toggle(name="Trade",
                       toggle="isTrade").dm-width-pc-2-10.dm-width-tablet-5-10.dm-width-phone-1-1.uk-margin-left.uk-margin-bottom
        div
            hr
            h2 Categories
            .dm-grid
                categories(info="categories",category="category")

public/app/views/directives/market/search.html
<div><div class="uk-grid uk-margin-bottom"><div class="uk-width-medium-6-10 uk-width-large-9-10 uk-container-center"><div class="uk-text-center uk-margin-bottom"><button ng-click="toggleSearchBar()" class="uk-button uk-visible-small">Show Search Filter</button></div><form ng-show="searchBarToggle" class="uk-form uk-text-center"><!--Select Region--><select ng-model="selectedRegion" ng-options="value.name for value in region" class="uk-width-medium-1-6"><option value="">All</option></select><select ng-model="selectedRegion" ng-options="value.name for value in region" class="uk-margin-left uk-width-medium-1-6 uk-hidden-small"></select><select ng-model="selectedRegion" ng-options="value.name for value in region" class="uk-width-medium-1-6 uk-visible-small"><option value="">All</option></select><!--Price--><div class="uk-form-icon uk-margin-left uk-hidden-small"><i class="uk-icon-rub"></i><input type="text" placeholder="Price"/></div><div class="uk-form-icon uk-visible-small"><i class="uk-icon-rub"></i><input type="text" placeholder="Price"/></div><select class="uk-visible-small"><option value="less">Less Than Equal</option><option value="more">More Than Equal</option></select><select class="uk-hidden-small"><option value="less">Less Than Equal</option><option value="more">More Than Equal</option></select><!--Category--><select class="uk-width-medium-1-6 uk-margin-left uk-hidden-small"><option value="">All Categories</option></select><select class="uk-width-medium-1-6 uk-visible-small"><option value="">All Categories</option></select><button data-uk-modal="{target:'#dm-searchbar-filter'}" class="uk-button uk-button-primary uk-margin-left"><i class="uk-icon uk-icon-filter"></i></button><button class="uk-margin-left uk-button uk-button-success"><i class="uk-icon uk-icon-refresh"></i></button><button data-uk-modal="{target:'#dm-searchbar-clear'}" class="uk-button uk-margin-left"><i class="uk-icon uk-icon-remove"></i></button></form></div></div><!--Modals--><div id="dm-searchbar-filter" class="uk-modal"><div class="uk-modal-dialog"><a class="uk-modal-close uk-close"></a><div class="uk-modal-header"><h1><i class="uk-icon uk-icon-filter"></i> Search Filter</h1></div><div><h2>Attributes</h2><div class="dm-grid"><toggle name="Used" toggle="attIsUsed" class="dm-width-pc-2-10 dm-width-tablet-5-10 dm-width-phone-1-1 uk-margin-left uk-margin-bottom"></toggle><toggle name="Shipping" toggle="attShip" class="dm-width-pc-2-10 dm-width-tablet-5-10 dm-width-phone-1-1 uk-margin-left uk-margin-bottom"></toggle><toggle name="Meetup" toggle="attMeet" class="dm-width-pc-2-10 dm-width-tablet-5-10 dm-width-phone-1-1 uk-margin-left uk-margin-bottom"></toggle><toggle name="Negotiable" toggle="isNeg" class="dm-width-pc-2-10 dm-width-tablet-5-10 dm-width-phone-1-1 uk-margin-left uk-margin-bottom"></toggle><toggle name="Trade" toggle="isTrade" class="dm-width-pc-2-10 dm-width-tablet-5-10 dm-width-phone-1-1 uk-margin-left uk-margin-bottom"></toggle></div></div><div><hr/><h2>Categories</h2><div class="dm-grid"><categories info="categories" category="category"></categories></div></div></div></div></div>
