public/app/views/directives/market/upload.html
<div class="dm-upload-container dm-width-upc-6-10 dm-width-pc-8-10 dm-width-tablet-9-10 dm-width-phone-1-1 dm-grid"><div ng-show="!isDragDropPresent" class="not-supported"><p>Drag and Drop Not Supported</p><p class="uk-text-center"><input type="file" accept=".jpg,.png" multiple=""/></p></div><div ng-show="isDragDropPresent &amp;&amp; validFiles.length == 0" class="supported"><p class="uk-text-large uk-text-bold">Drag and Drop Files Here <i class="uk-icon uk-icon-image"></i></p></div><div class="list"><ul><li ng-repeat="(key,file) in validFiles" class="uk-alert dm-alert-primary uk-margin-top"><a ng-click="deleteFile(key)">[X]</a> {{file.name}}</li><li ng-repeat="file in invalidFiles" class="uk-alert dm-alert-danger">{{file.name}}</li></ul></div></div>

_public/app/views/directives/market/upload.jade
.dm-upload-container.dm-width-upc-6-10.dm-width-pc-8-10.dm-width-tablet-9-10.dm-width-phone-1-1.dm-grid
    .not-supported(ng-show="!isDragDropPresent")
        p Drag and Drop Not Supported
        p.uk-text-center
            input(type="file",accept=".jpg,.png",multiple="")
    .supported(ng-show="isDragDropPresent && validFiles.length == 0")
        p.uk-text-large.uk-text-bold.
            Drag and Drop Files Here #[i.uk-icon.uk-icon-image]
    .list
        ul
            li.uk-alert.dm-alert-primary.uk-margin-top(ng-repeat="(key,file) in validFiles").
                #[a(ng-click="deleteFile(key)") [X]] {{file.name}}
            li.uk-alert.dm-alert-danger(ng-repeat="file in invalidFiles").
                {{file.name}}
